	<div class="comment-box">
		<ul class="comment-box-list" id="comment-box-<%= feature.id%>">
			<% feature.comments.reload.each do |comment| %>
				<li id="#{comment.id}"> 
					<span><strong class="commenter">@<%=comment.user.to_s%>: </strong></span>
  				<span><%= comment.comment_name%></span>
				</li>
			<% end %>
		</ul>
	</div>
