<h4><strong>Tasks(<span id="tasking-<%= feature.id %>"> <%= Task.where(feature_id: feature, task_completion: true).count %> </span> / <%= Task.where(feature_id: feature).count %>)</strong></h4>
  <div class="panel-feature-list panel-default">
    <div class="panel-head">
      <h4 class="panel-title">
			<% feature.tasks.reload.each do |task| %>
        <button class="btn" type="button">
          <%= render partial: "tasks/show", locals: { task: task }%>
        </button>
			<% end %>  
      </h4>
    </div>
  </div>


