<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="cover-page">
	<h1>This is the cover page of the project</h1>
	<div>
		<p>This is a Project Management App.</p>
		<p>Check the right corner to log in or sign up.</p>
	</div>
</div>