<h4><strong> Attachment</strong></h4>
<% feature.documents.reload.each do |document| %>
	<table class="document-list">
		<tr>
			<td>
				<%= link_to "attachment", user_project_feature_document_path(document.feature.project.user_id, document.feature.project_id, document.feature_id, document.id), class: "glyphicon glyphicon-paperclip attachment-link", title: document.document_file_name, target: :_blank, method: :get %>				
			</td>
			<% if request.env['PATH_INFO'] == "/users"%>
    	  <td>   
        </td>
      <% else %>
				<td><%= link_to "", user_project_feature_document_path(document.feature.project.user_id, document.feature.project_id, document.feature_id, document.id), class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Are you sure?' } %>	
				</td>
        <% end %>
		</tr>
	</table>
<% end %>