<% p = current_user.features.includes(:project).map do |f| %>
  <% f.project %>
<% end %>
<% p =  p.to_set %>

<br>

  <table class="project-list">
    <thead>
      <tr>
        <th colspan="3">ASSIGNED PROJECT LIST</th>
      </tr>
    </thead>
    <tbody>
      <% p.each do |project| %>
      <tr>
        <td><%= link_to project.project_name, user_project_path(current_user.id, project.id), method: :get %></td>
        <td><%= link_to 'Show', user_project_path(current_user.id, project.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>