// Place all the styles related to the Features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//show_feature.
select{
  width: 165px;  
}

.feature-desc{
  padding: 5px;
  border: 1px solid black; 
  background-color: white;
  width: auto;
  height: 100px;
  overflow :auto;
}


//feature: list_feature
.panel-default{
  margin-bottom: 3px;
}

.panel-body2{
  padding: 10px;
}

.panel-feature-list{
  background-color: lightgrey;
  border: 1px solid transparent;
  border-radius: 4px;
}


//form-page.
.add:after {
    font-family: "Glyphicons Halflings";
    content:"\e014";
    float: right;
}

/* Icon when the collapsible content is hidden */
.add.collapsed:after {
    content:"\2b";
}
  
.btn {
  width:100%;
}

.btn:hover{
  background-color: grey;
}

.feat-desc{
  width: 100%;
  padding: 5px;
  height: 100px;
}


.feat-details-show{
  width: 100%;
}

.feat-details-show td:first-child{
  width: 70px; 
}

.goto{
  color: red;
}