// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
	width: 100%;
}

.cover-page{
	padding: 20px;
}

.cover-page div{
	font-size: 15px;
}

.cover-page div p:first-child{
	margin: 0;
	color: purple;	
}

.cover-page div p{
 color: red;
}