// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.project-block{
	padding: 10px;
}

.login-form{
	margin: 0 auto;
	text-align:center;
}

.login-form table{
	margin: 0 auto;
	text-align:center;
}