<h3><strong>Features</strong></h3>
<% features.each do |feature| %>
  <div class="panel-feature-list panel-default">
    <div class="panel-head">
      <h4 class="panel-title">
        <button class="btn" type="button" data-toggle="collapse" data-target="#<%= feature.feature_name.gsub(/\s+/, '') %>"> <%= feature.feature_name %> </button>
      </h4>
    </div>
    <div id="<%= feature.feature_name.gsub(/\s+/, '') %>" class="panel-collapse collapse">
      <div class="panel-body2">
        <div>
      		<%= render partial: "features/show" , locals: { feature: feature } %>
      	</div>
      </div>
    </div>
  </div>
<% end %>
